In [1]:
import numpy as np
import pandas as pd

In [2]:
df2 = pd.read_csv('data/btc-market-price.csv',
                  header = None, #this is where you make the first row not to be the header
                  na_values = ['','?','-'], #this is where you specify which values are null
                 names = ['Timestamp','Price'], #this is where the column names is been set
                 dtype = {'Price': 'float'})#this is where yo set the data types for the columns
#trying to use the various import parameters to see their performance at import time
#check how to set the column names for this dataframe
df2.head()

     Timestamp        Price
0  2/4/17 0:00  1099.169125
1  3/4/17 0:00  1141.813000
2  4/4/17 0:00          NaN
3  5/4/17 0:00  1133.079314
4  6/4/17 0:00          NaN

In [3]:
df2 = pd.read_csv('data/btc-market-price.csv',
                  header = None, #this is where you make the first row not to be the header
                  na_values = ['','?','-'], #this is where you specify which values are null
                 names = ['Timestamp','Price'], #this is where the column names is been set
                 dtype = {'Price': 'float'},#this is where yo set the data types for the columns
                 parse_dates = [0])#instead of using the to_datetime method, you can parse dates equal to zero
#trying to use the various import parameters to see their performance at import time
#check how to set the column names for this dataframe
df2.head()

   Timestamp        Price
0 2017-02-04  1099.169125
1 2017-03-04  1141.813000
2 2017-04-04          NaN
3 2017-05-04  1133.079314
4 2017-06-04          NaN

In [4]:
df2.dtypes

Timestamp    datetime64[ns]
Price               float64
dtype: object